In [1]:
import pandas as pd
import pymysql 
import sqlalchemy

In [2]:
csv_path = "Data/pop_by_zip.csv"
pop_by_zip_df = pd.read_csv(csv_path)

In [3]:
pop_by_zip_df.head()

   Zip Code ZCTA  2010 Census Population
0           1001                   16769
1           1002                   29049
2           1003                   10372
3           1005                    5079
4           1007                   14649

In [4]:
csv_path = "Data/sidewalk-cafe-permits.csv"
cafe_permit_df = pd.read_csv(csv_path)

In [5]:
cafe_permit_df.head()

,PERMIT NUMBER,ACCOUNT NUMBER,SITE NUMBER,LEGAL NAME,DOING BUSINESS AS NAME,ISSUED DATE,EXPIRATION DATE,PAYMENT DATE,ADDRESS,ADDRESS NUMBER START,...,CITY,STATE,ZIP CODE,WARD,PRECINCT,WARD PRECINCT,POLICE DISTRICT,LATITUDE,LONGITUDE,LOCATION
0,1043646,63414,46,STARBUCKS CORPORATION,STARBUCKS COFFEE #2334,2005-05-13T00:00:00,2005-12-01T00:00:00,2005-05-13T00:00:00,106-108 W GERNANIA PL,106,...,CHICAGO,IL,NaN,42,NaN,42-,NaN,NaN,NaN,NaN
1,1032589,65630,2,"BOB SAN, INC.",BOB SAN SUSHI BAR,2004-07-13T00:00:00,2004-11-01T00:00:00,2004-03-24T00:00:00,1805 W DIVISION ST,1805,...,CHICAGO,IL,60622.0,1,3.0,1-3,12.0,41.903153,-87.672586,"{'human_address': '{""address"":"""",""city"":"""",""st..."
2,1117868,340860,1,"CAFE EL TAPATIO, INC.",CAFE EL TAPATIO,2015-04-01T00:00:00,2015-12-01T00:00:00,2015-04-01T00:00:00,3400 N ASHLAND AVE,3400,...,CHICAGO,IL,60657.0,47,22.0,47-22,19.0,41.943432,-87.668913,"{'human_address': '{""address"":"""",""city"":"""",""st..."
3,1121328,359406,1,"RICCARDO ENOTECA, LLC",RICCARDO ENOTECA,2016-02-25T00:00:00,2016-12-01T00:00:00,2016-02-25T00:00:00,2116 N CLARK ST,2116,...,CHICAGO,IL,60614.0,43,8.0,43-8,18.0,41.920617,-87.637631,"{'human_address': '{""address"":"""",""city"":"""",""st..."
4,1090445,307071,1,REGGIE'S BAR & GRILL LLC,REGGIE'S BAR & GRILL,2010-03-24T00:00:00,2010-12-01T00:00:00,2010-03-24T00:00:00,2105 S STATE ST,2105,...,CHICAGO,IL,60616.0,3,45.0,3-45,1.0,41.854064,-87.626961,"{'human_address': '{""address"":"""",""city"":"""",""st..."

In [6]:
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://root:mysql#2019@127.0.0.1/chicago_ward_zip")
cafe_permit_df.to_sql(con=engine, name='cafe_permit', if_exists='append', index=False)

In [7]:
from sqlalchemy import create_engine
engine = create_engine("mysql+mysqldb://root:mysql#2019@127.0.0.1/chicago_ward_zip")
pop_by_zip_df.to_sql(con=engine, name='pop_zip', if_exists='append', index=False)